/* netduinoplus2.overlay */

/ {
    /* Define our dummy peripherals for the missing QEMU silicon */
    dummy_i2c: i2c1 {
        compatible = "vnd,i2c";
        status = "okay";
        reg = <0x1000 0x100>;
    };

    dummy_rtc: rtc {
        compatible = "vnd,rtc";
        status = "okay";
    };

    dummy_iwdg: iwdg {
        compatible = "vnd,watchdog";
        status = "okay";
    };
};

/* Disable the physical STM32 hardware that QEMU cannot emulate */
&i2c1 { status = "disabled"; };
&rtc { status = "disabled"; };
&iwdg { status = "disabled"; };

/* Define a 128KB NVS storage partition at the end of the 1MB Flash */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@E0000 {
            label = "storage";
            reg = <0x000E0000 0x00020000>;
        };
    };
};
