/* olimex_stm32_h405.overlay */

/ {
    chosen {
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
    };

    aliases {
        serial0 = &usart2;
        cdc-acm-uart0 = &usart2;
    };
};

/*
 * QEMU-safe clock configuration:
 * Do not use HSE/PLL. Use internal HSI directly.
 */
&clk_hsi {
    status = "okay";
};

&clk_hse {
    status = "disabled";
};

&pll {
    status = "disabled";
};

&rcc {
    clocks = <&clk_hsi>;
    clock-frequency = <16000000>;
    ahb-prescaler = <1>;
    apb1-prescaler = <1>;
    apb2-prescaler = <1>;
};

/* USART2 is the default console UART for olimex_stm32_h405 */
&usart2 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
};

&usbotg_fs {
    status = "disabled";
};

/* Disable QEMU-unreliable peripherals for smoke boot */
&i2c1 {
    status = "disabled";
};

&rtc {
    status = "disabled";
};

&iwdg {
    status = "disabled";
};
